body {
  background: #e5e9ec;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none !important;
}

p {
  margin-bottom: 0 !important;
}

button {
  border-radius: 0 !important;
}

.btn-lg {
  padding-left: 0.7rem !important;
  padding-right: 0.7rem !important;
  font-size: 1.1em !important;
}

/* give room for mobile top bar */
@media only screen and (max-device-width: 480px) and (orientation: portrait) {
  .navbar {
    padding-top: 22px;
    padding-bottom: 18px;
  }
}
