.homepage, .prev-page  {
  font-size: 0.8em;
}

.lesson-title {
  padding-top: 1rem;
}

/* flashcard */
.flashcard {
  display: none;
  margin-top: 0.3rem;
  margin-bottom: 0.7rem;
  background: #fff;
  cursor: pointer;
  width: 100%;
  border-radius: 2px;
  height: 130px;
  max-width: 800px;
  font-size: 1.5em;
  -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flashcard.flipped-card {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.lesson-content {
  height: 87vh;
}

.card-buttons {
  width: 100%
}
.lesson-header p {
  display: none;
}

.card-buttons .btn, .card-buttons .btn:hover,  .card-buttons .btn:focus, .card-buttons .btn:active {
  color: #fff !important;
}

@media (min-width: 880px) {
  .lesson-header {
    margin-top: -3.5rem;
    margin-bottom: 2.5rem;
  }
  .lesson-header p {
    display: flex;
  }
}

@media (min-width: 576px) {
  .flashcard {
    height: 250px;
    width: 70%
  }

  .card-buttons {
    width: 50%
  }
}

/* END flashcard */
