<div class="container">

  <h1 style="color:white">About</h1>
  <!-- <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flippable appcon ac-bicycle">
          <div class="front">
            <span>B</span>
            <i class="fa fa-bicycle"></i>
          </div>
          <div class="back">
            Bicycle
          </div>
        </div>
    </div>

  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flippable appcon ac-car">
          <div class="front">
            <span>C</span>
            <i class="fa fa-car"></i>
          </div>
          <div class="back">
            Car
          </div>
        </div>
    </div>

      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flippable appcon ac-truck">
          <div class="front">
            <span>T</span>
            <i class="fa fa-truck"></i>
          </div>
          <div class="back">
            Truck
          </div>
        </div>
    </div>

    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flippable appcon ac-umbrella">
          <div class="front">
            <span>U</span>
            <i class="fa fa-umbrella"></i>
          </div>
          <div class="back">
            umbrella
          </div>
        </div>
    </div>

  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flippable appcon ac-plane">
          <div class="front">
            <span>P</span>
            <i class="fa fa-plane"></i>
          </div>
          <div class="back">
            Plane
          </div>
        </div>
    </div> -->

  <a href="#">Main Menu</a>
</div>
