  <div class="row align-items-center main-menu menu-list">
    <div class="card-deck" onclick="window.location.href='#german_submenu'">
      <div class="card" id="german_submenu">
        <img class="card-img-top" src="https://www.motel-one.com/fileadmin/dam/_processed_/4/3/csm_Berlin_0410_492x492_61efd5c3f7.jpg" alt="Card image cap">
      </div>
      <div class="card" id="russian_submenu" onclick="window.location.href='#russian_submenu'">
        <img class="card-img-top" src="https://i.forbesimg.com/media/lists/places/russia_416x416.jpg" alt="Russian">
      </div>
    </div>
  </div>
