<div class='flex flex-columns full-width flex-align-items-center margin-top-double'>
  <div class="flex flex-columns flex-align-items-center full-width">
    <a href="#russian_submenu">Bach to lessons</a>
    <p class='lead lesson-title'>Урок 1</p>
  </div>

  <!-- flashcard 0 -->
  <div class="flashcard show-flex">
    <div class="front">ваза</div>
    <div class="back hidden">vase</div>
  </div>
  <!-- /flashcard -->

  <!-- flashcard 1 -->
  <div class="flashcard">
    <div class="front">комната</div>
    <div class="back hidden">room</div>
  </div>
  <!-- /flashcard -->

  <!-- flashcard 2 -->
  <div class="flashcard">
    <div class="front">вода</div>
    <div class="back hidden">water</div>
  </div>
  <!-- /flashcard -->

  <!-- flashcard 3 -->
  <div class="flashcard">
    <div class="front">окно</div>
    <div class="back hidden">window</div>
  </div>
  <!-- /flashcard -->

  <!-- flashcard 4 -->
  <div class="flashcard">
    <div class="front">звук</div>
    <div class="back hidden">sound</div>
  </div>
  <!-- /flashcard -->


  <div class="flex flex-justify-space-around card-buttons margin-top-single">
    <button class='btn btn-lg btn-danger prev-card'>Назад</button>
    <button class='btn btn-lg btn-primary next-card'>Вперед</button>
  </div>

</div>
