<a class='menu-item prev-page' href="#russian_submenu">предыдущий</a>
<h3>Урок 2</h3>

<!-- flashcard 0 -->
<div class="flashcard show-flex">
  <div class="front">erforschen</div>
  <div class="back hidden">to research</div>
</div>
<!-- /flashcard -->

<!-- flashcard 1 -->
<div class="flashcard">
  <div class="front">die Akkulaufzeit</div>
  <div class="back hidden">battery life</div>
</div>
<!-- /flashcard -->

<!-- flashcard 2 -->
<div class="flashcard">
  <div class="front">handlich</div>
  <div class="back hidden">handy; managable, pocket sized</div>
</div>
<!-- /flashcard -->

<!-- flashcard 3 -->
<div class="flashcard">
  <div class="front">behandeln</div>
  <div class="back hidden">to treat</div>
</div>
<!-- /flashcard -->

<!-- flashcard 4 -->
<div class="flashcard">
  <div class="front">vergleichen</div>
  <div class="back hidden">to compare</div>
</div>
<!-- /flashcard -->

<div class="flex flex-justify-space-around width-50 margin-top-single">
  <button class='next-card'>Вперед</button>
</div>
