<div class='flex flex-columns full-width flex-align-items-center margin-top-double'>
  <div class="flex flex-columns flex-align-items-center full-width">
    <a href="#russian_submenu">Bach to lessons</a>
    <p class='lead lesson-title'>Урок 2</p>
  </div>

  <!-- flashcard 0 -->
  <div class="flashcard show-flex">
    <div class="front">дома</div>
    <div class="back hidden">at home</div>
  </div>
  <!-- /flashcard -->

  <!-- flashcard 1 -->
  <div class="flashcard">
    <div class="front">Кто это?</div>
    <div class="back hidden">Who is this?</div>
  </div>
  <!-- /flashcard -->

  <!-- flashcard 2 -->
  <div class="flashcard">
    <div class="front">звон</div>
    <div class="back hidden">ringing, jingle</div>
  </div>
  <!-- /flashcard -->

  <!-- flashcard 3 -->
  <div class="flashcard">
    <div class="front">звонок</div>
    <div class="back hidden">bell</div>
  </div>
  <!-- /flashcard -->

  <!-- flashcard 4 -->
  <div class="flashcard">
    <div class="front">буква</div>
    <div class="back hidden">letter in alphabet, character</div>
  </div>
  <!-- /flashcard -->

  <div class="flex flex-justify-space-around card-buttons margin-top-single">
    <button class='btn btn-lg btn-danger prev-card'>Назад</button>
    <button class='btn btn-lg btn-primary next-card'>Вперед</button>
  </div>

</div>
